In [6]:
# Data Analysis Phase
# Main aim is to understand mode about the data

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

pd.pandas.set_option('display.max_columns',None)

## Preparing all the datasets

In [7]:
# Define the column headers based on the data structure

# Load the dataset correctly, skipping initial rows and setting header row
inflation_df = pd.read_csv('data/inflation.csv',index_col=False)

inflation_df.head()

# Dropping null values for the inflation dataset
inflation_df.replace('..', np.nan, inplace=True)
# inflation_df = inflation_df.dropna(axis=0)
inflation_df.head()

,index date,name,CPIH ALL ITEMS,FOOD AND NON-ALCOHOLIC BEVERAGES,FOOD,BREAD & CEREALS,MEAT,FISH,"MILK, CHEESE & EGGS",OILS & FATS,FRUIT,VEGETABLES INCLUDING POTATOES AND TUBERS,"SUGAR, JAM, SYRUPS, CHOCOLATE AND CONFECTIONERY",FOOD PRODUCTS (NEC),NON-ALCOHOLIC BEVERAGES,"COFFEE, TEA & COCOA","MINERAL WATERS, SOFT DRINKS AND JUICES",ALCOHOLIC BEVERAGES AND TOBACCO,ALCOHOLIC BEVERAGES,SPIRITS,WINE,BEER,TOBACCO,CLOTHING AND FOOTWEAR,CLOTHING,GARMENTS,OTHER CLOTHING & CLOTHING ACCESSORIES,"CLEANING, REPAIR AND HIRE OF CLOTHING",FOOTWEAR INCLUDING REPAIRS,"HOUSING, WATER, ELELCTRICITY, GAS AND OTHER FUELS",ACTUAL RENTALS FOR HOUSING,OOH,REGULAR MAINTENANCE AND REPAIR OF THE DWELLING,MATERIALS FOR MAINTENANCE AND REPAIR,SERVICES FOR MAINTENANCE AND REPAIR,WATER SUPPLY AND MISC. SERVICES FOR THE DWELLING,WATER SUPPLY,SEWERAGE COLLECTION,"ELECTRICITY, GAS AND OTHER FUELS",ELECTRICITY,GAS,LIQUID FUELS,SOLID FUELS,COUNCIL TAX AND OTHER RATES,"FURNITURE, HOUSEHOLD EQUIPMENT AND MAINTENANCE","FURNITURE, FURNISHINGS & CARPETS",FURNITURE & FURNISHINGS,CARPETS & OTHER FLOOR COVERINGS,HOUSEHOLD TEXTILES,"HOUSEHOLD APPLIANCES, FITTING AND REPAIRS",MAJOR APPLIANCES AND SMALL ELECTRIC GOODS,REPAIR OF HOUSEHOLD APPLIANCES,"GLASSWARE, TABLEWARE & HOUSEHOLD UTENSILS",TOOLS AND EQUIPMENT FOR HOUSE AND GARDEN,GOODS AND SERVICES FOR ROUTINE MAINTENANCE,NON-DURABLE HOUSEHOLD GOODS,DOMESTIC SERVICES AND HOUSEHOLD SERVICES,HEALTH,"MEDICAL PRODUCTS, APPLIANCES AND EQUIPMENT",PHARMACEUTICAL PRODUCTS,OTHER MEDICAL & THERAPEUTIC EQUIPMENT,OUT-PATIENT SERVICES,MEDICAL SERVICES AND PARAMEDICAL SERVICES,DENTAL SERVICES,HOSPITAL SERVICES,TRANSPORT,PURCHASE OF VEHICLES,MOTOR CYCLES AND BICYCLES,NEW CARS,SECOND-HAND CARS,OPERATION OF PERSONAL TRANSPORT EQUIPMENT,SPARE PARTS & ACCESSORIES,FUELS & LUBRICANTS,MAINTENANCE & REPAIRS,OTHER SERVICES IN RESPECT OF PERSONAL TRANSPORT EQ,TRANSPORT SERVICES,PASSENGER TRANSPORT BY RAILWAY,PASSENGER TRANSPORT BY ROAD,PASSENGER TRANSPORT BY AIR,PASSENGER TRANSPORT BY SEA AND INLAND WATERWAY,COMMUNICATION,POSTAL SERVICES,TELEPHONE AND TELEFAX EQUIPMENT AND SERVICES,RECREATION & CULTURE,AUDIO-VISUAL EQUIPMENT AND RELATED PRODUCTS,RECEPTION AND REPRODUCTION OF SOUND AND PICTURES,PHOTOGRAPHIC AND CINE. EQU. & OPTICAL INSTRUMENTS,DATA PROCESSING EQUIPMENT,RECORDING MEDIA,REPAIR OF AUDIO-VISUAL & RELATED PRODUCTS,OTHER MAJOR DURABLES FOR RECREATION AND CULTURE,MAJOR DURABLES FOR IN/OUTDOOR RECREATION,"OTHER RECREATIONAL ITEMS, GARDENS & PETS",GAMES TOYS AND HOBBIES,EQUIPMENT FOR SPORT & OPEN-AIR RECREATION,GARDEN PLANTS AND FLOWERS,"PETS, RELATED PRODUCTS AND SERVICES",RECREATIONAL AND CULTURAL SERVICES,RECREATIONAL AND SPORTING SERVICES,CULTURAL SERVICES,"BOOKS, NEWSPAPERS AND STATIONERY",BOOKS,NEWSPAPERS AND PERIODICALS,"MISC. PRINTED MATTER, STATIONERY, DRAWING MATERIALS",PACKAGE HOLIDAY,EDUCATION,RESTAURANTS AND HOTELS,CATERING SERVICES,RESTAURANTS & CAFES,CANTEENS,ACCOMMODATION SERVICES,MISCELLANEOUS GOODS AND SERVICES,PERSONAL CARE,HAIRDRESSING & PERSONAL GROOMING ESTABLISHMENTS,APPLIANCES & PRODUCTS FOR PERSONAL CARE,PERSONAL EFFECTS (NEC),JEWELLERY CLOCKS AND WATCHES,OTHER PERSONAL EFFECTS,SOCIAL PROTECTION,INSURANCE,HOUSE CONTENTS INSURANCE,HEALTH INSURANCE,TRANSPORT INSURANCE,FINANCIAL SERVICES (NEC),OTHER FINANCIAL SERVICES (NEC),OTHER SERVICES (NEC)
0,198801,Jan-88,46.851,47.901,48.244,50.053,53.741,43.321,48.488,45.461,49.436,53.122,37.708,55.290,45.113,51.268,43.126,27.262,54.270,50.806,51.860,65.694,16.299,191.973,200.293,221.258,100.311,33.953,153.451,38.714,31.135,44.368,39.718,51.025,31.517,21.525,21.168,22.316,29.131,33.084,25.163,32.982,31.613,32.934,68.285,62.115,66.671,51.110,119.687,104.257,122.275,NaN,81.388,69.357,41.039,56.961,29.814,37.606,51.344,53.642,NaN,NaN,NaN,NaN,NaN,40.338,88.070,64.207,NaN,126.807,29.211,53.239,30.397,24.760,30.367,22.288,27.727,29.430,NaN,NaN,96.974,25.432,109.683,73.343,701.234,992.325,2086.334,NaN,139.696,NaN,NaN,NaN,92.750,151.701,NaN,73.723,43.622,32.830,29.616,35.038,37.496,42.221,29.129,48.029,NaN,12.344,32.871,33.114,33.257,30.550,NaN,45.903,50.538,29.290,62.024,68.737,57.272,96.977,NaN,22.735,51.859,NaN,15.745,95.434,95.434,30.016
1,198802,Feb-88,46.998,48.174,48.501,50.353,53.386,43.670,48.523,45.921,50.905,54.709,37.637,55.152,45.544,51.444,43.727,27.365,54.694,51.108,52.254,66.425,16.319,193.181,201.659,222.922,100.408,34.158,154.142,38.791,31.160,44.502,39.935,51.353,31.640,21.525,21.168,22.316,29.077,33.084,25.163,31.374,31.686,32.934,68.649,62.524,67.034,51.698,121.064,104.482,122.539,NaN,81.774,69.706,41.243,57.240,29.981,37.662,51.420,53.721,NaN,NaN,NaN,NaN,NaN,40.317,87.786,64.306,NaN,126.363,29.225,54.781,30.111,24.996,30.490,22.407,27.727,29.692,NaN,NaN,96.963,25.432,109.669,73.553,699.232,989.685,2081.077,NaN,139.227,NaN,NaN,NaN,93.270,152.819,NaN,74.273,43.744,32.843,29.627,35.051,37.872,42.643,29.421,48.509,NaN,12.348,33.025,33.269,33.412,30.697,NaN,46.086,50.716,29.473,62.157,68.892,57.401,97.196,NaN,22.735,51.859,NaN,15.745,95.491,95.491,30.358
2,198803,Mar-88,47.202,48.324,48.643,50.311,53.721,43.130,48.551,46.108,50.650,55.269,37.856,55.116,45.779,51.420,44.127,27.433,55.033,51.567,52.462,66.932,16.322,194.760,203.183,224.736,100.740,34.341,155.722,38.993,31.183,44.881,40.037,51.524,31.681,21.525,21.168,22.316,29.029,33.084,25.163,30.139,31.662,32.934,69.179,63.449,68.062,52.345,122.279,104.923,123.056,NaN,82.138,69.909,41.438,57.468,30.322,38.192,52.143,54.477,NaN,NaN,NaN,NaN,NaN,40.559,88.826,64.859,NaN,127.885,29.285,55.018,30.132,25.124,30.504,22.407,27.727,29.692,NaN,NaN,96.968,25.432,109.676,73.580,697.344,983.970,2085.896,NaN,139.476,NaN,NaN,NaN,93.429,153.024,NaN,74.676,43.742,32.904,29.682,35.117,37.902,42.677,29.444,48.548,NaN,12.349,33.115,33.360,33.503,30.784,NaN,46.108,50.839,29.597,62.253,68.536,57.105,96.694,NaN,22.735,51.859,NaN,15.745,95.660,95.660,30.485
3,198804,Apr-88,47.801,48.592,48.894,50.548,53.736,43.151,48.861,46.249,51.559,55.704,38.021,55.874,46.222,51.497,44.806,27.824,55.658,51.922,53.030,68.229,16.585,195.128,203.510,225.033,100.944,34.583,156.166,39.763,32.915,45.245,40.277,51.670,32.034,23.105,22.493,24.195,29.387,33.653,25.449,30.154,31.660,35.733,69.502,63.858,68.624,52.271,122.613,105.388,123.601,NaN,82.674,69.708,41.640,57.760,30.408,38.385,52.406,54.752,NaN,NaN,NaN,NaN,NaN,41.075,90.192,65.331,NaN,129.914,29.682,55.216,30.715,25.325,30.623,22.412,27.727,29.704,NaN,NaN,96.966,25.432,109.673,74.924,704.844,988.088,2277.109,NaN,139.029,NaN,NaN,NaN,93.369,153.602,NaN,74.283,43.636,34.647,31.254,36.976,38.120,42.922,29.613,48.827,NaN,12.360,33.526,33.773,33.914,31.211,NaN,46.369,51.226,30.015,62.523,68.551,57.117,96.715,NaN,22.848,51.859,NaN,15.902,95.621,95.621,30.795
4,198805,May-88,48.044,48.714,48.968,50.970,54.186,42.799,48.770,46.346,51.643,54.801,38.065,56.559,46.832,51.364,45.884,27.931,55.867,51.993,53.309,68.470,16.649,197.851,206.996,229.469,100.881,34.726,156.664,40.011,32.975,45.524,40.445,51.888,32.167,23.127,22.536,24.195,29.819,34.553,25.908,30.364,30.189,35.733,69.834,64.219,69.042,52.467,122.948,106.048,124.375,NaN,83.177,69.929,41.721,57.874,30.464,38.513,52.582,54.935,NaN,NaN,NaN,NaN,NaN,41.217,90.684,65.779,NaN,130.611,29.678,55.210,30.659,25.418,30.690,22.628,27.934,30.031,NaN,NaN,96.958,25.432,109.662,75.220,703.984,985.895,2280.364,NaN,139.002,NaN,NaN,NaN,94.027,153.747,NaN,75.804,43.876,34.741,31.339,37.077,38.442,43.285,29.864,49.240,NaN,12.365,33.670,33.919,34.065,31.296,NaN,46.538,51.388,30.106,62.726,68.656,57.204,96.863,NaN,22.924,52.066,NaN,15.945,95.674,95.674,31.078

# 1. Missing Values

In [8]:
# 1st Step is to make the list of features which has missing values
feature_na=[feature for feature in inflation_df.columns if inflation_df[feature].isnull().sum()>1]
print(feature_na)

for feature in feature_na:
    print(feature,np.round(inflation_df[feature].isnull().mean(),4),'% of missing value')


# Percentage of missing values if persist. However, all the null rows are removed in the previous snippet

['REPAIR OF HOUSEHOLD APPLIANCES', 'OTHER MEDICAL & THERAPEUTIC EQUIPMENT', 'OUT-PATIENT SERVICES', 'MEDICAL SERVICES AND PARAMEDICAL SERVICES', 'DENTAL SERVICES', 'HOSPITAL SERVICES', 'NEW CARS', 'PASSENGER TRANSPORT BY AIR', 'PASSENGER TRANSPORT BY SEA AND INLAND WATERWAY', 'DATA PROCESSING EQUIPMENT', 'REPAIR OF AUDIO-VISUAL & RELATED PRODUCTS', 'OTHER MAJOR DURABLES FOR RECREATION AND CULTURE', 'MAJOR DURABLES FOR IN/OUTDOOR RECREATION', 'EQUIPMENT FOR SPORT & OPEN-AIR RECREATION', 'PACKAGE HOLIDAY', 'ACCOMMODATION SERVICES', 'SOCIAL PROTECTION', 'HEALTH INSURANCE']
REPAIR OF HOUSEHOLD APPLIANCES 0.1364 % of missing value
OTHER MEDICAL & THERAPEUTIC EQUIPMENT 0.1886 % of missing value
OUT-PATIENT SERVICES 0.325 % of missing value
MEDICAL SERVICES AND PARAMEDICAL SERVICES 0.325 % of missing value
DENTAL SERVICES 0.325 % of missing value
HOSPITAL SERVICES 0.3523 % of missing value
NEW CARS 0.2182 % of missing value
PASSENGER TRANSPORT BY AIR 0.2182 % of missing value
PASSENGER TRANSPORT BY SEA AND INLAND WATERWAY 0.2182 % of missing value
DATA PROCESSING EQUIPMENT 0.0818 % of missing value
REPAIR OF AUDIO-VISUAL & RELATED PRODUCTS 0.2182 % of missing value
OTHER MAJOR DURABLES FOR RECREATION AND CULTURE 0.325 % of missing value
MAJOR DURABLES FOR IN/OUTDOOR RECREATION 0.325 % of missing value
EQUIPMENT FOR SPORT & OPEN-AIR RECREATION 0.2182 % of missing value
PACKAGE HOLIDAY 0.1364 % of missing value
ACCOMMODATION SERVICES 0.2182 % of missing value
SOCIAL PROTECTION 0.325 % of missing value
HEALTH INSURANCE 0.325 % of missing value

In [9]:
print("Finding the information about the dataset")
print(inflation_df.info())
print("\n\nFinding the any null values in the dataset")
print(inflation_df.isnull().sum())

inflation_df.head(13)
inflation_df.columns

inflation_df.columns = inflation_df.columns.str.strip()
inflation_df.columns
# dropping unnecessary columns
inflation_df=inflation_df.drop(columns=['index date'])
inflation_df.rename(columns={'name':'Year'},inplace=True)

inflation_df.head()

Finding the information about the dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Columns: 126 entries, index date    to OTHER SERVICES (NEC)
dtypes: float64(106), int64(1), object(19)
memory usage: 433.3+ KB
None


Finding the any null values in the dataset
index date                            0
name                                  0
CPIH ALL ITEMS                        0
FOOD AND NON-ALCOHOLIC BEVERAGES      0
FOOD                                  0
                                   ...
HEALTH INSURANCE                    143
TRANSPORT INSURANCE                   0
FINANCIAL SERVICES (NEC)              0
OTHER FINANCIAL SERVICES (NEC)        0
OTHER SERVICES (NEC)                  0
Length: 126, dtype: int64

,Year,CPIH ALL ITEMS,FOOD AND NON-ALCOHOLIC BEVERAGES,FOOD,BREAD & CEREALS,MEAT,FISH,"MILK, CHEESE & EGGS",OILS & FATS,FRUIT,VEGETABLES INCLUDING POTATOES AND TUBERS,"SUGAR, JAM, SYRUPS, CHOCOLATE AND CONFECTIONERY",FOOD PRODUCTS (NEC),NON-ALCOHOLIC BEVERAGES,"COFFEE, TEA & COCOA","MINERAL WATERS, SOFT DRINKS AND JUICES",ALCOHOLIC BEVERAGES AND TOBACCO,ALCOHOLIC BEVERAGES,SPIRITS,WINE,BEER,TOBACCO,CLOTHING AND FOOTWEAR,CLOTHING,GARMENTS,OTHER CLOTHING & CLOTHING ACCESSORIES,"CLEANING, REPAIR AND HIRE OF CLOTHING",FOOTWEAR INCLUDING REPAIRS,"HOUSING, WATER, ELELCTRICITY, GAS AND OTHER FUELS",ACTUAL RENTALS FOR HOUSING,OOH,REGULAR MAINTENANCE AND REPAIR OF THE DWELLING,MATERIALS FOR MAINTENANCE AND REPAIR,SERVICES FOR MAINTENANCE AND REPAIR,WATER SUPPLY AND MISC. SERVICES FOR THE DWELLING,WATER SUPPLY,SEWERAGE COLLECTION,"ELECTRICITY, GAS AND OTHER FUELS",ELECTRICITY,GAS,LIQUID FUELS,SOLID FUELS,COUNCIL TAX AND OTHER RATES,"FURNITURE, HOUSEHOLD EQUIPMENT AND MAINTENANCE","FURNITURE, FURNISHINGS & CARPETS",FURNITURE & FURNISHINGS,CARPETS & OTHER FLOOR COVERINGS,HOUSEHOLD TEXTILES,"HOUSEHOLD APPLIANCES, FITTING AND REPAIRS",MAJOR APPLIANCES AND SMALL ELECTRIC GOODS,REPAIR OF HOUSEHOLD APPLIANCES,"GLASSWARE, TABLEWARE & HOUSEHOLD UTENSILS",TOOLS AND EQUIPMENT FOR HOUSE AND GARDEN,GOODS AND SERVICES FOR ROUTINE MAINTENANCE,NON-DURABLE HOUSEHOLD GOODS,DOMESTIC SERVICES AND HOUSEHOLD SERVICES,HEALTH,"MEDICAL PRODUCTS, APPLIANCES AND EQUIPMENT",PHARMACEUTICAL PRODUCTS,OTHER MEDICAL & THERAPEUTIC EQUIPMENT,OUT-PATIENT SERVICES,MEDICAL SERVICES AND PARAMEDICAL SERVICES,DENTAL SERVICES,HOSPITAL SERVICES,TRANSPORT,PURCHASE OF VEHICLES,MOTOR CYCLES AND BICYCLES,NEW CARS,SECOND-HAND CARS,OPERATION OF PERSONAL TRANSPORT EQUIPMENT,SPARE PARTS & ACCESSORIES,FUELS & LUBRICANTS,MAINTENANCE & REPAIRS,OTHER SERVICES IN RESPECT OF PERSONAL TRANSPORT EQ,TRANSPORT SERVICES,PASSENGER TRANSPORT BY RAILWAY,PASSENGER TRANSPORT BY ROAD,PASSENGER TRANSPORT BY AIR,PASSENGER TRANSPORT BY SEA AND INLAND WATERWAY,COMMUNICATION,POSTAL SERVICES,TELEPHONE AND TELEFAX EQUIPMENT AND SERVICES,RECREATION & CULTURE,AUDIO-VISUAL EQUIPMENT AND RELATED PRODUCTS,RECEPTION AND REPRODUCTION OF SOUND AND PICTURES,PHOTOGRAPHIC AND CINE. EQU. & OPTICAL INSTRUMENTS,DATA PROCESSING EQUIPMENT,RECORDING MEDIA,REPAIR OF AUDIO-VISUAL & RELATED PRODUCTS,OTHER MAJOR DURABLES FOR RECREATION AND CULTURE,MAJOR DURABLES FOR IN/OUTDOOR RECREATION,"OTHER RECREATIONAL ITEMS, GARDENS & PETS",GAMES TOYS AND HOBBIES,EQUIPMENT FOR SPORT & OPEN-AIR RECREATION,GARDEN PLANTS AND FLOWERS,"PETS, RELATED PRODUCTS AND SERVICES",RECREATIONAL AND CULTURAL SERVICES,RECREATIONAL AND SPORTING SERVICES,CULTURAL SERVICES,"BOOKS, NEWSPAPERS AND STATIONERY",BOOKS,NEWSPAPERS AND PERIODICALS,"MISC. PRINTED MATTER, STATIONERY, DRAWING MATERIALS",PACKAGE HOLIDAY,EDUCATION,RESTAURANTS AND HOTELS,CATERING SERVICES,RESTAURANTS & CAFES,CANTEENS,ACCOMMODATION SERVICES,MISCELLANEOUS GOODS AND SERVICES,PERSONAL CARE,HAIRDRESSING & PERSONAL GROOMING ESTABLISHMENTS,APPLIANCES & PRODUCTS FOR PERSONAL CARE,PERSONAL EFFECTS (NEC),JEWELLERY CLOCKS AND WATCHES,OTHER PERSONAL EFFECTS,SOCIAL PROTECTION,INSURANCE,HOUSE CONTENTS INSURANCE,HEALTH INSURANCE,TRANSPORT INSURANCE,FINANCIAL SERVICES (NEC),OTHER FINANCIAL SERVICES (NEC),OTHER SERVICES (NEC)
0,Jan-88,46.851,47.901,48.244,50.053,53.741,43.321,48.488,45.461,49.436,53.122,37.708,55.290,45.113,51.268,43.126,27.262,54.270,50.806,51.860,65.694,16.299,191.973,200.293,221.258,100.311,33.953,153.451,38.714,31.135,44.368,39.718,51.025,31.517,21.525,21.168,22.316,29.131,33.084,25.163,32.982,31.613,32.934,68.285,62.115,66.671,51.110,119.687,104.257,122.275,NaN,81.388,69.357,41.039,56.961,29.814,37.606,51.344,53.642,NaN,NaN,NaN,NaN,NaN,40.338,88.070,64.207,NaN,126.807,29.211,53.239,30.397,24.760,30.367,22.288,27.727,29.430,NaN,NaN,96.974,25.432,109.683,73.343,701.234,992.325,2086.334,NaN,139.696,NaN,NaN,NaN,92.750,151.701,NaN,73.723,43.622,32.830,29.616,35.038,37.496,42.221,29.129,48.029,NaN,12.344,32.871,33.114,33.257,30.550,NaN,45.903,50.538,29.290,62.024,68.737,57.272,96.977,NaN,22.735,51.859,NaN,15.745,95.434,95.434,30.016
1,Feb-88,46.998,48.174,48.501,50.353,53.386,43.670,48.523,45.921,50.905,54.709,37.637,55.152,45.544,51.444,43.727,27.365,54.694,51.108,52.254,66.425,16.319,193.181,201.659,222.922,100.408,34.158,154.142,38.791,31.160,44.502,39.935,51.353,31.640,21.525,21.168,22.316,29.077,33.084,25.163,31.374,31.686,32.934,68.649,62.524,67.034,51.698,121.064,104.482,122.539,NaN,81.774,69.706,41.243,57.240,29.981,37.662,51.420,53.721,NaN,NaN,NaN,NaN,NaN,40.317,87.786,64.306,NaN,126.363,29.225,54.781,30.111,24.996,30.490,22.407,27.727,29.692,NaN,NaN,96.963,25.432,109.669,73.553,699.232,989.685,2081.077,NaN,139.227,NaN,NaN,NaN,93.270,152.819,NaN,74.273,43.744,32.843,29.627,35.051,37.872,42.643,29.421,48.509,NaN,12.348,33.025,33.269,33.412,30.697,NaN,46.086,50.716,29.473,62.157,68.892,57.401,97.196,NaN,22.735,51.859,NaN,15.745,95.491,95.491,30.358
2,Mar-88,47.202,48.324,48.643,50.311,53.721,43.130,48.551,46.108,50.650,55.269,37.856,55.116,45.779,51.420,44.127,27.433,55.033,51.567,52.462,66.932,16.322,194.760,203.183,224.736,100.740,34.341,155.722,38.993,31.183,44.881,40.037,51.524,31.681,21.525,21.168,22.316,29.029,33.084,25.163,30.139,31.662,32.934,69.179,63.449,68.062,52.345,122.279,104.923,123.056,NaN,82.138,69.909,41.438,57.468,30.322,38.192,52.143,54.477,NaN,NaN,NaN,NaN,NaN,40.559,88.826,64.859,NaN,127.885,29.285,55.018,30.132,25.124,30.504,22.407,27.727,29.692,NaN,NaN,96.968,25.432,109.676,73.580,697.344,983.970,2085.896,NaN,139.476,NaN,NaN,NaN,93.429,153.024,NaN,74.676,43.742,32.904,29.682,35.117,37.902,42.677,29.444,48.548,NaN,12.349,33.115,33.360,33.503,30.784,NaN,46.108,50.839,29.597,62.253,68.536,57.105,96.694,NaN,22.735,51.859,NaN,15.745,95.660,95.660,30.485
3,Apr-88,47.801,48.592,48.894,50.548,53.736,43.151,48.861,46.249,51.559,55.704,38.021,55.874,46.222,51.497,44.806,27.824,55.658,51.922,53.030,68.229,16.585,195.128,203.510,225.033,100.944,34.583,156.166,39.763,32.915,45.245,40.277,51.670,32.034,23.105,22.493,24.195,29.387,33.653,25.449,30.154,31.660,35.733,69.502,63.858,68.624,52.271,122.613,105.388,123.601,NaN,82.674,69.708,41.640,57.760,30.408,38.385,52.406,54.752,NaN,NaN,NaN,NaN,NaN,41.075,90.192,65.331,NaN,129.914,29.682,55.216,30.715,25.325,30.623,22.412,27.727,29.704,NaN,NaN,96.966,25.432,109.673,74.924,704.844,988.088,2277.109,NaN,139.029,NaN,NaN,NaN,93.369,153.602,NaN,74.283,43.636,34.647,31.254,36.976,38.120,42.922,29.613,48.827,NaN,12.360,33.526,33.773,33.914,31.211,NaN,46.369,51.226,30.015,62.523,68.551,57.117,96.715,NaN,22.848,51.859,NaN,15.902,95.621,95.621,30.795
4,May-88,48.044,48.714,48.968,50.970,54.186,42.799,48.770,46.346,51.643,54.801,38.065,56.559,46.832,51.364,45.884,27.931,55.867,51.993,53.309,68.470,16.649,197.851,206.996,229.469,100.881,34.726,156.664,40.011,32.975,45.524,40.445,51.888,32.167,23.127,22.536,24.195,29.819,34.553,25.908,30.364,30.189,35.733,69.834,64.219,69.042,52.467,122.948,106.048,124.375,NaN,83.177,69.929,41.721,57.874,30.464,38.513,52.582,54.935,NaN,NaN,NaN,NaN,NaN,41.217,90.684,65.779,NaN,130.611,29.678,55.210,30.659,25.418,30.690,22.628,27.934,30.031,NaN,NaN,96.958,25.432,109.662,75.220,703.984,985.895,2280.364,NaN,139.002,NaN,NaN,NaN,94.027,153.747,NaN,75.804,43.876,34.741,31.339,37.077,38.442,43.285,29.864,49.240,NaN,12.365,33.670,33.919,34.065,31.296,NaN,46.538,51.388,30.106,62.726,68.656,57.204,96.863,NaN,22.924,52.066,NaN,15.945,95.674,95.674,31.078

In [10]:

# converting 'date' column to datetime format
inflation_df['Year'] = pd.to_datetime(inflation_df['Year'], format='%b-%y')

# extracting year and create a new column
inflation_df['Year'] = inflation_df['Year'].dt.year

# grouping by year and aggregate (mean in this case)
inflation = inflation_df.groupby('Year').mean(numeric_only=True).reset_index()

# filetering from the year after 1999
inflation=inflation[inflation['Year']>1999].reset_index(drop=True)

# displaying  the yearly aggregated DataFrame
print(inflation)

# saving the updated year column into new csv file
inflation.to_csv('yearly_inflation_data.csv', index=False)


inflation=inflation.drop(columns=['FOOD AND NON-ALCOHOLIC BEVERAGES', 'FOOD',
       'BREAD & CEREALS', 'MEAT', 'FISH', 'MILK, CHEESE & EGGS', 'OILS & FATS',
       'FRUIT','VEGETABLES INCLUDING POTATOES AND TUBERS',
       'SUGAR, JAM, SYRUPS, CHOCOLATE AND CONFECTIONERY',
       'FOOD PRODUCTS (NEC)', 'NON-ALCOHOLIC BEVERAGES', 'COFFEE, TEA & COCOA',
       'MINERAL WATERS, SOFT DRINKS AND JUICES',
       'ALCOHOLIC BEVERAGES AND TOBACCO', 'ALCOHOLIC BEVERAGES', 'SPIRITS',
       'WINE', 'BEER', 'TOBACCO', 'CLOTHING AND FOOTWEAR', 'CLOTHING',
       'GARMENTS', 'OTHER CLOTHING & CLOTHING ACCESSORIES',
       'CLEANING, REPAIR AND HIRE OF CLOTHING', 'FOOTWEAR INCLUDING REPAIRS',
       'HOUSING, WATER, ELELCTRICITY, GAS AND OTHER FUELS',
       'ACTUAL RENTALS FOR HOUSING', 'OOH',
       'REGULAR MAINTENANCE AND REPAIR OF THE DWELLING',
       'MATERIALS FOR MAINTENANCE AND REPAIR',
       'SERVICES FOR MAINTENANCE AND REPAIR',
       'WATER SUPPLY AND MISC. SERVICES FOR THE DWELLING', 'WATER SUPPLY',
       'SEWERAGE COLLECTION', 'ELECTRICITY, GAS AND OTHER FUELS',
       'ELECTRICITY', 'GAS', 'LIQUID FUELS', 'SOLID FUELS',
       'COUNCIL TAX AND OTHER RATES',
       'FURNITURE, HOUSEHOLD EQUIPMENT AND MAINTENANCE',
       'FURNITURE, FURNISHINGS & CARPETS', 'FURNITURE & FURNISHINGS',
       'CARPETS & OTHER FLOOR COVERINGS', 'HOUSEHOLD TEXTILES',
       'HOUSEHOLD APPLIANCES, FITTING AND REPAIRS',
       'MAJOR APPLIANCES AND SMALL ELECTRIC GOODS',
       'GLASSWARE, TABLEWARE & HOUSEHOLD UTENSILS',
       'TOOLS AND EQUIPMENT FOR HOUSE AND GARDEN',
       'GOODS AND SERVICES FOR ROUTINE MAINTENANCE','NON-DURABLE HOUSEHOLD GOODS',
       'DOMESTIC SERVICES AND HOUSEHOLD SERVICES', 'HEALTH',
       'MEDICAL PRODUCTS, APPLIANCES AND EQUIPMENT', 'PHARMACEUTICAL PRODUCTS',
       'TRANSPORT', 'PURCHASE OF VEHICLES', 'MOTOR CYCLES AND BICYCLES',
       'SECOND-HAND CARS', 'OPERATION OF PERSONAL TRANSPORT EQUIPMENT',
       'SPARE PARTS & ACCESSORIES', 'FUELS & LUBRICANTS',
       'MAINTENANCE & REPAIRS',
       'OTHER SERVICES IN RESPECT OF PERSONAL TRANSPORT EQ',
       'TRANSPORT SERVICES', 'PASSENGER TRANSPORT BY RAILWAY',
       'PASSENGER TRANSPORT BY ROAD', 'COMMUNICATION', 'POSTAL SERVICES',
       'TELEPHONE AND TELEFAX EQUIPMENT AND SERVICES', 'RECREATION & CULTURE',
       'AUDIO-VISUAL EQUIPMENT AND RELATED PRODUCTS',
       'RECEPTION AND REPRODUCTION OF SOUND AND PICTURES',
       'PHOTOGRAPHIC AND CINE. EQU. & OPTICAL INSTRUMENTS', 'RECORDING MEDIA',
       'OTHER RECREATIONAL ITEMS, GARDENS & PETS', 'GAMES TOYS AND HOBBIES',
       'GARDEN PLANTS AND FLOWERS', 'PETS, RELATED PRODUCTS AND SERVICES',
       'RECREATIONAL AND CULTURAL SERVICES',
       'RECREATIONAL AND SPORTING SERVICES', 'CULTURAL SERVICES',
       'BOOKS, NEWSPAPERS AND STATIONERY', 'BOOKS',
       'NEWSPAPERS AND PERIODICALS',
       'MISC. PRINTED MATTER, STATIONERY, DRAWING MATERIALS', 'EDUCATION',
       'RESTAURANTS AND HOTELS', 'CATERING SERVICES', 'RESTAURANTS & CAFES',
       'CANTEENS', 'MISCELLANEOUS GOODS AND SERVICES', 'PERSONAL CARE',
       'HAIRDRESSING & PERSONAL GROOMING ESTABLISHMENTS',
       'APPLIANCES & PRODUCTS FOR PERSONAL CARE', 'PERSONAL EFFECTS (NEC)',
       'JEWELLERY CLOCKS AND WATCHES', 'OTHER PERSONAL EFFECTS', 'INSURANCE',
       'HOUSE CONTENTS INSURANCE', 'TRANSPORT INSURANCE',
       'FINANCIAL SERVICES (NEC)', 'OTHER FINANCIAL SERVICES (NEC)',
       'OTHER SERVICES (NEC)'])

inflation.tail()

    Year  CPIH ALL ITEMS  FOOD AND NON-ALCOHOLIC BEVERAGES        FOOD  \
0   2000       73.406083                         65.880417   65.224500
1   2001       74.555917                         68.374333   67.947667
2   2002       75.671167                         68.917750   68.567917
3   2003       76.715833                         69.804333   69.553917
4   2004       77.779500                         70.351333   70.235750
5   2005       79.404250                         71.417417   71.409500
6   2006       81.356333                         73.147667   73.012000
7   2007       83.305000                         76.433667   76.324000
8   2008       86.222583                         83.445500   84.015417
9   2009       87.933417                         88.013417   88.709083
10  2010       90.123583                         91.012750   91.419083
11  2011       93.585417                         96.027417   96.066333
12  2012       95.992417                         99.129167   99.051750
13  2013       98.200083                        102.838083  103.072167
14  2014       99.625833                        102.648167  102.829667
15  2015      100.000083                         99.999917  100.000000
16  2016      100.986167                         97.610000   97.562417
17  2017      103.590333                         99.824750   99.992333
18  2018      105.955667                        101.904000  101.830500
19  2019      107.803417                        103.303000  102.975667
20  2020      108.883583                        104.038333  103.592417
21  2021      111.614417                        104.340000  103.954000
22  2022      120.457667                        115.756083  115.451333
23  2023      128.640167                        132.627417  132.474417
24  2024      132.095250                        135.628750  135.382500

    BREAD & CEREALS        MEAT        FISH  MILK, CHEESE & EGGS  OILS & FATS  \
0         67.974000   68.157833   61.760333            68.393000    64.578000
1         68.665583   71.083000   62.915083            70.575167    63.312917
2         69.268333   71.347917   64.709083            71.344833    64.183417
3         70.028333   71.445333   63.834917            72.818917    64.126417
4         71.282667   72.636667   62.754333            74.425000    65.433500
5         72.235333   73.114750   63.764500            76.449000    63.997167
6         73.595750   74.528500   68.801750            77.492000    67.241417
7         76.730750   75.989917   74.573917            82.811167    71.621500
8         85.599917   83.984583   78.294833            95.331250    83.924417
9         89.653083   89.512667   81.198417            99.310917    84.007833
10        91.556833   90.344833   86.524000            99.536833    89.643083
11        97.456583   95.211250   94.503250           102.137333   100.236333
12        99.637750   98.776583   97.870167           103.087667   102.604583
13       103.532917  102.595167  101.054750           104.097750   105.526500
14       102.928667  103.188083  103.637000           104.656417   104.865333
15        99.999833  100.000000   99.999917           100.000000   100.000000
16        98.414833   95.899000   97.688167            96.566667    99.361167
17       100.961750   97.596917  106.337250            98.521750   105.474417
18       102.107750   98.540250  110.325167           100.915083   111.680083
19       103.420333   98.366000  112.177000           101.068917   116.206333
20       104.821667  100.063667  113.601000           100.725583   113.026417
21       105.724583   99.563667  111.083250           101.590083   116.645333
22       116.682500  110.606500  122.691583           119.105500   142.060583
23       133.934167  124.787750  136.238750           141.474667   168.057833
24       136.153750  126.910625  133.316875           140.905500   180.783375

         FRUIT  VEGETABLES INCLUDING POTATOES AND TUBERS  \
0    64.596333                                 64.695667
1    70.218833                                 70.731667
2    71.022667                                 70.203917
3    71.910167                                 71.305250
4    69.883000                                 70.746417
5    70.737083                                 72.900583
6    71.324667                                 74.498250
7    72.298250                                 81.098750
8    77.130000                                 88.100000
9    80.769167                                 93.660917
10   87.134500                                 96.397417
11   90.380000                                 99.635000
12   91.952000                                102.885167
13   99.858000                                109.262167
14  100.171917                                104.113583
15   99.999917                                 99.999917
16  101.133667                                 95.897333
17  103.766750                                 97.873000
18  106.726083                                 99.795417
19  107.298750                                103.323917
20  108.841917                                101.977833
21  110.418917                                102.098333
22  118.500250                                112.155583
23  128.217083                                129.567667
24  131.585000                                134.137125

    SUGAR, JAM, SYRUPS, CHOCOLATE AND CONFECTIONERY  FOOD PRODUCTS (NEC)  \
0                                         57.354583            79.562833
1                                         58.246833            80.468833
2                                         59.457583            81.290583
3                                         61.715417            81.329750
4                                         63.287333            80.661000
5                                         65.054833            80.221750
6                                         67.480750            79.618167
7                                         69.855583            80.762083
8                                         74.887917            85.315417
9                                         80.173667            92.167000
10                                        84.666333            92.792250
11                                        91.000583            95.799000
12                                        95.576833           100.581417
13                                        98.435417           103.382667
14                                       100.174917           103.978167
15                                        99.999917           100.000000
16                                        98.395083            99.420833
17                                        99.919500           101.187917
18                                       101.563917           101.309250
19                                       102.751750           101.966417
20                                       103.545333           102.328167
21                                       103.573917           102.735833
22                                       110.096000           120.442667
23                                       126.374417           147.847167
24                                       133.184750           149.391125

    NON-ALCOHOLIC BEVERAGES  COFFEE, TEA & COCOA  \
0                 72.327750            71.453000
1                 72.523500            71.404750
2                 72.312167            71.940417
3                 72.321083            70.188917
4                 71.697083            67.995583
5                 71.706167            68.074500
6                 74.445250            71.476250
7                 77.522833            74.106750
8                 79.467250            78.083417
9                 82.880333            85.627583
10                87.967083            90.822417
11                95.633250            99.355417
12                99.514167           102.570250
13               101.057500           103.529750
14               101.316000           102.092000
15                99.999917           100.000000
16                98.046583            99.997750
17                98.407667           105.343583
18               102.202917           106.897667
19               105.522333           106.323250
20               107.286167           104.719083
21               107.147667           102.647250
22               117.902833           111.742333
23               133.185750           126.633667
24               137.018000           130.703875

    MINERAL WATERS, SOFT DRINKS AND JUICES  ALCOHOLIC BEVERAGES AND TOBACCO  \
0                                73.327583                        56.246667
1                                73.590750                        58.093500
2                                73.153333                        59.142333
3                                73.426250                        60.262500
4                                73.029500                        61.457917
5                                73.008500                        62.849667
6                                75.557917                        64.555583
7                                78.665750                        66.830417
8                                80.054250                        69.472250
9                                82.324000                        72.498417
10                               87.426167                        76.542167
11                               94.832250                        83.203167
12                               98.906667                        88.204500
13                              100.501500                        93.769500
14                              101.124083                        97.952000
15                              100.000000                       100.000083
16                               97.510083                       101.458750
17                               95.883167                       105.918250
18                              100.490000                       110.485250
19                              105.338000                       114.374750
20                              108.379500                       116.765417
21                              109.044083                       119.930667
22                              120.302167                       125.589000
23                              135.667333                       136.962083
24                              139.439625                       146.888625

    ALCOHOLIC BEVERAGES     SPIRITS        WINE        BEER     TOBACCO  \
0             81.665417   75.565250   76.550167  101.396417   43.411417
1             81.981250   75.863250   77.180000  101.318917   45.771417
2             82.090333   76.701583   77.305333  100.613333   47.143417
3             81.508417   76.516833   77.431000   98.104167   48.809417
4             81.160833   76.228917   78.207333   95.190333   50.565917
5             80.502500   75.622417   78.814167   91.705333   52.778167
6             80.702833   75.243417   79.721583   91.142917   55.127000
7             81.566083   76.227667   80.499083   91.521250   58.056250
8             84.196667   80.344583   83.083000   91.871833   60.611917
9             87.979917   83.046500   87.616167   95.323667   63.017333
10            90.809083   87.105083   90.606583   95.923333   67.846083
11            96.070833   92.201083   95.934417  101.200417   75.332750
12            98.797333   96.535667   97.361250  104.305667   81.746083
13           102.286333  102.260583  100.552917  105.075417   88.010333
14           102.577667  101.349667  102.331417  104.202417   94.723167
15           100.000083  100.000083   99.999917  100.000083  100.000000
16            96.813000   96.793167   96.010083   98.149250  104.863583
17            99.090333   98.647083   97.382167  102.773333  110.999333
18            99.955250   98.343000   98.593000  104.687917  119.107500
19           100.893000   97.614333  100.288583  106.524083  125.749167
20           101.971833   99.546083  101.015000  107.115167  129.438000
21           103.229167  100.519333  103.198417  107.215417  134.479250
22           105.886917  102.765417  105.624500  110.494417  143.775000
23           114.193250  110.408667  111.887083  122.619583  158.731250
24           119.208625  115.606750  116.469625  128.015500  174.945875

    CLOTHING AND FOOTWEAR    CLOTHING    GARMENTS  \
0              162.043000  165.370583  173.226333
1              150.050333  152.251833  158.466333
2              139.205000  140.458417  145.364167
3              133.884917  134.734250  138.920250
4              127.452917  127.742917  131.275833
5              120.872833  121.033250  123.831250
6              116.006917  116.189583  118.391333
7              111.667500  111.501083  113.191500
8              104.300583  103.685667  104.692250
9               96.211000   94.840417   95.049250
10              95.240667   93.818833   93.796917
11              97.448500   96.867000   96.926000
12              98.260583   97.820167   97.822583
13              99.182500   99.009500   99.029833
14              99.670000   99.527333   99.648167
15             100.000083  100.000000   99.999833
16             100.167083  100.241583  100.292000
17             102.640250  103.103250  103.343417
18             103.486417  104.042750  104.238417
19             102.585917  103.652750  103.927833
20             101.164750  102.165000  102.021000
21             101.440833  102.787917  102.522917
22             109.138500  110.911000  110.652000
23             116.515417  118.781250  118.782417
24             118.352625  121.139500  121.033625

    OTHER CLOTHING & CLOTHING ACCESSORIES  \
0                              113.005500
1                              105.935333
2                              102.669500
3                              101.878333
4                               99.630500
5                               99.571833
6                               99.572250
7                               98.981750
8                               97.303250
9                               96.190417
10                              96.816333
11                              97.992500
12                              99.266750
13                              99.922083
14                              98.713500
15                              99.999917
16                              99.483417
17                             100.254917
18                             101.234000
19                              98.421250
20                              99.551333
21                             100.832667
22                             108.155250
23                             113.573583
24                             116.514125

    CLEANING, REPAIR AND HIRE OF CLOTHING  FOOTWEAR INCLUDING REPAIRS  \
0                               63.180750                  141.725833
1                               65.280417                  136.214750
2                               67.202583                  131.332000
3                               69.571583                  128.718917
4                               72.023833                  126.044500
5                               75.492583                  120.188917
6                               78.655000                  115.156500
7                               81.506667                  113.446583
8                               84.178583                  109.413417
9                               86.525500                  105.525917
10                              88.352833                  104.788583
11                              92.111000                  101.526667
12                              93.816417                  101.355250
13                              95.390333                  100.374167
14                              97.770250                  100.583083
15                              99.999917                  100.000000
16                             102.403500                   99.692000
17                             104.699250                   99.754167
18                             107.253333                   99.873083
19                             109.992000                   96.847750
20                             112.355250                   95.800083
21                             115.696250                   94.362333
22                             126.407000                  100.052500
23                             137.847583                  104.945417
24                             144.115250                  104.542000

    HOUSING, WATER, ELELCTRICITY, GAS AND OTHER FUELS  \
0                                           69.000167
1                                           70.809917
2                                           72.513250
3                                           73.687583
4                                           75.221000
5                                           77.680167
6                                           81.337000
7                                           84.099333
8                                           88.070333
9                                           89.956750
10                                          89.630167
11                                          92.081333
12                                          94.599333
13                                          96.799667
14                                          98.729333
15                                          99.999833
16                                         101.633250
17                                         103.743667
18                                         105.650083
19                                         107.411583
20                                         108.353333
21                                         110.645417
22                                         120.080500
23                                         127.905750
24                                         131.299125

    ACTUAL RENTALS FOR HOUSING         OOH  \
0                    67.716250   80.196917
1                    69.974083   82.093083
2                    71.842417   83.520167
3                    72.891833   83.724333
4                    74.492167   84.223667
5                    77.120917   85.655917
6                    79.509250   87.967917
7                    82.027833   90.139667
8                    84.759000   92.566250
9                    86.323417   93.397417
10                   87.508417   92.441500
11                   89.704250   93.828083
12                   92.702083   95.395667
13                   94.993000   96.747333
14                   97.215667   98.172000
15                  100.000083   99.999917
16                  101.756167  102.339250
17                  102.723750  104.382667
18                  103.189583  105.564000
19                  103.947167  106.789167
20                  105.409750  108.058417
21                  107.184833  109.838250
22                  110.903917  113.337083
23                  117.284250  118.506750
24                  124.115000  124.991000

    REGULAR MAINTENANCE AND REPAIR OF THE DWELLING  \
0                                        68.009167
1                                        70.110083
2                                        71.938083
3                                        73.727417
4                                        75.384750
5                                        76.861000
6                                        78.190000
7                                        81.553833
8                                        85.774583
9                                        89.375833
10                                       93.788167
11                                       98.842083
12                                      101.340500
13                                      100.579250
14                                      100.445750

    Year  CPIH ALL ITEMS
20  2020      108.883583
21  2021      111.614417
22  2022      120.457667
23  2023      128.640167
24  2024      132.095250

## Reading the new file created csv file

In [11]:
df=pd.read_csv('yearly_inflation_data.csv')
print(df.describe())
print(df.dtypes)

              Year  CPIH ALL ITEMS  FOOD AND NON-ALCOHOLIC BEVERAGES  \
count    25.000000       25.000000                         25.000000
mean   2012.000000       95.756167                         92.898947
std       7.359801       16.669763                         19.280556
min    2000.000000       73.406083                         65.880417
25%    2006.000000       81.356333                         73.147667
50%    2012.000000       95.992417                         97.610000
75%    2018.000000      105.955667                        102.838083
max    2024.000000      132.095250                        135.628750

             FOOD  BREAD & CEREALS        MEAT        FISH  \
count   25.000000        25.000000   25.000000   25.000000
mean    92.826173        93.694707   91.770058   92.386212
std     19.299877        19.274795   16.418621   23.151174
min     65.224500        67.974000   68.157833   61.760333
25%     73.012000        73.595750   74.528500   68.801750
50%     97.562417        98.414833   95.899000   97.688167
75%    102.975667       103.420333  100.000000  110.325167
max    135.382500       136.153750  126.910625  136.238750

       MILK, CHEESE & EGGS  OILS & FATS       FRUIT  \
count            25.000000    25.000000   25.000000
mean             96.133640    97.943918   92.234997
std              19.272529    31.569919   19.650313
min              68.393000    63.312917   64.596333
25%              77.492000    67.241417   71.910167
50%              99.536833   100.000000   91.952000
75%             102.137333   111.680083  106.726083
max             141.474667   180.783375  131.585000

       VEGETABLES INCLUDING POTATOES AND TUBERS  \
count                                 25.000000
mean                                  93.882435
std                                   18.269290
min                                   64.695667
25%                                   74.498250
50%                                   97.873000
75%                                  102.885167
max                                  134.137125

       SUGAR, JAM, SYRUPS, CHOCOLATE AND CONFECTIONERY  FOOD PRODUCTS (NEC)  \
count                                        25.000000            25.000000
mean                                         88.270927            97.782412
std                                          21.472668            18.782399
min                                          57.354583            79.562833
25%                                          67.480750            81.290583
50%                                          95.576833            99.420833
75%                                         101.563917           102.328167
max                                         133.184750           149.391125

       NON-ALCOHOLIC BEVERAGES  COFFEE, TEA & COCOA  \
count                25.000000            25.000000
mean                 93.576450            92.949178
std                  18.931238            18.623168
min                  71.697083            67.995583
25%                  74.445250            71.940417
50%                  98.046583            99.997750
75%                 102.202917           104.719083
max                 137.018000           130.703875

       MINERAL WATERS, SOFT DRINKS AND JUICES  \
count                               25.000000
mean                                94.039298
std                                 19.145871
min                                 73.008500
25%                                 75.557917
50%                                 95.883167
75%                                101.124083
max                                139.439625

       ALCOHOLIC BEVERAGES AND TOBACCO  ALCOHOLIC BEVERAGES     SPIRITS  \
count                        25.000000            25.000000   25.000000
mean                         89.978138            94.205478   90.842257
std                          27.068245            11.310032   12.607916
min                          56.246667            80.502500   75.243417
25%                          64.555583            81.981250   76.516833
50%                          88.204500            96.813000   96.535667
75%                         110.485250           101.971833  100.000083
max                         146.888625           119.208625  115.606750

             WINE        BEER     TOBACCO  CLOTHING AND FOOTWEAR    CLOTHING  \
count   25.000000   25.000000   25.000000              25.000000   25.000000
mean    92.546512  102.259607   89.401585             112.279565  112.867033
std     12.004770    8.839380   38.983217              17.841624   18.684923
min     76.550167   91.142917   43.411417              95.240667   93.818833
25%     79.721583   95.923333   55.127000             100.000083  100.000000
50%     96.010083  101.318917   81.746083             103.486417  103.685667
75%    100.552917  105.075417  119.107500             118.352625  121.033250
max    116.469625  128.015500  174.945875             162.043000  165.370583

         GARMENTS  OTHER CLOTHING & CLOTHING ACCESSORIES  \
count   25.000000                              25.000000
mean   114.257818                             101.818812
std     20.810008                               5.403400
min     93.796917                              96.190417
25%     99.999833                              98.981750
50%    104.238417                              99.630500
75%    121.033625                             101.878333
max    173.226333                             116.514125

       CLEANING, REPAIR AND HIRE OF CLOTHING  FOOTWEAR INCLUDING REPAIRS  \
count                              25.000000                   25.000000
mean                               94.873107                  109.290577
std                                21.828805                   13.615154
min                                63.180750                   94.362333
25%                                78.655000                  100.000000
50%                                93.816417                  104.542000
75%                               107.253333                  115.156500
max                               144.115250                  141.725833

       HOUSING, WATER, ELELCTRICITY, GAS AND OTHER FUELS  \
count                                          25.000000
mean                                           94.837515
std                                            17.333285
min                                            69.000167
25%                                            81.337000
50%                                            94.599333
75%                                           105.650083
max                                           131.299125

       ACTUAL RENTALS FOR HOUSING         OOH  \
count                   25.000000   25.000000
mean                    92.211803   97.355057
std                     15.486350   11.917492
min                     67.716250   80.196917
25%                     79.509250   87.967917
50%                     92.702083   95.395667
75%                    103.189583  105.564000
max                    124.115000  124.991000

       REGULAR MAINTENANCE AND REPAIR OF THE DWELLING  \
count                                       25.000000
mean                                        93.436733
std                                         15.548332
min                                         68.009167
25%                                         78.190000
50%                                         99.540833
75%                                        101.340500
max                                        120.925750

       MATERIALS FOR MAINTENANCE AND REPAIR  \
count                             25.000000
mean                              93.439903
std                               19.139412
min                               71.604667
25%                               72.016000
50%                               98.639500
75%                              101.773583
max                              132.967250

       SERVICES FOR MAINTENANCE AND REPAIR  \
count                            25.000000
mean                             94.132313
std                              13.011484
min                              63.354583
25%                              88.025250
50%                              99.552917
75%                             102.311667
max                             109.178000

       WATER SUPPLY AND MISC. SERVICES FOR THE DWELLING  WATER SUPPLY  \
count                                         25.000000     25.000000
mean                                          88.123165     88.870930
std                                           21.660792     21.465014
min                                           53.433500     54.067500
25%                                           70.712500     72.423750
50%                                           92.707000     95.492750
75%                                          105.031750    103.500500
max                                          126.707375    127.757250

       SEWERAGE COLLECTION  ELECTRICITY, GAS AND OTHER FUELS  ELECTRICITY  \
count            25.000000                         25.000000    25.000000
mean             87.340735                         91.672468    96.592947
std              22.109448                         45.364935    49.548637
min              52.697500                         37.673250    42.377917
25%              68.708250                         59.692667    61.362500
50%              89.921250                         92.894667    88.534667
75%             106.465000                        106.540667   115.673417
max             126.150375                        211.437750   224.593000

              GAS  LIQUID FUELS  SOLID FUELS  COUNCIL TAX AND OTHER RATES  \
count   25.000000     25.000000    25.000000                    25.000000
mean    83.717065    114.359045    89.459288                    98.097847
std     41.238834     47.667584    33.420975                    22.534798
min     30.733583     44.519083    41.851167                    57.094750
25%     55.050083     89.192417    58.689833                    84.901917
50%     86.535333    110.571500    95.639750                    97.233750
75%     96.554500    141.919417   103.839417                   110.935250
max    194.989000    231.724833   158.509500                   142.344250

       FURNITURE, HOUSEHOLD EQUIPMENT AND MAINTENANCE  \
count                                       25.000000
mean                                        96.934443
std                                         13.474932
min                                         82.522167
25%                                         83.597750
50%                                         98.497917
75%                                        104.141333
max                                        126.938000

       FURNITURE, FURNISHINGS & CARPETS  FURNITURE & FURNISHINGS  \
count                         25.000000                25.000000
mean                          98.671298                99.182462
std                           17.172086                16.755277
min                           80.104250                81.588000
25%                           83.231500                84.500500
50%                           98.990417                98.916583
75%                          104.546333               104.043083
max                          139.215083               139.655417

       CARPETS & OTHER FLOOR COVERINGS  HOUSEHOLD TEXTILES  \
count                        25.000000           25.000000
mean                         97.962275          102.393772
std                          18.054267            6.255613
min                          77.394833           92.804083
25%                          81.300667           99.346417
50%                          99.916250          101.101500
75%                         106.335917          106.680083
max                         137.773500          114.095583

       HOUSEHOLD APPLIANCES, FITTING AND REPAIRS  \
count                                  25.000000
mean                                  102.496723
std                                     9.968869
min                                    88.652833
25%                                    95.650667
50%                                   100.848083
75%                                   107.900917
max                                   126.321167

       MAJOR APPLIANCES AND SMALL ELECTRIC GOODS  \
count                                  25.000000
mean                                  103.139263
std                                    10.307609
min                                    88.285333
25%                                    97.764333
50%                                   101.114000
75%                                   108.293833
max                                   127.317583

       GLASSWARE, TABLEWARE & HOUSEHOLD UTENSILS  \
count                                  25.000000
mean                                   95.693568
std                                     7.867146
min                                    83.897167
25%                                    89.599000
50%                                    97.807167
75%                                    99.817583
max                                   111.916667

       TOOLS AND EQUIPMENT FOR HOUSE AND GARDEN  \
count                                 25.000000
mean                                  92.509055
std                                   14.450886
min                                   73.954000
25%                                   77.820000
50%                                   95.710083
75%                                  103.900583
max                                  118.855875

       GOODS AND SERVICES FOR ROUTINE MAINTENANCE  \
count                                   25.000000
mean                                    92.758092
std                                     17.695502
min                                     66.597417
25%                                     76.927083
50%                                     95.775583
75%                                    103.102500
max                                    130.068625

       NON-DURABLE HOUSEHOLD GOODS  DOMESTIC SERVICES AND HOUSEHOLD SERVICES  \
count                    25.000000                                 25.000000
mean                     92.133242                                 93.355688
std                      11.387892                                 20.453106
min                      76.199667                                 56.946500
25%                      81.854333                                 78.603833
50%                      92.141167                                 92.640333
75%                     100.000083                                109.005583
max                     116.987625                                131.666875

           HEALTH  MEDICAL PRODUCTS, APPLIANCES AND EQUIPMENT  \
count   25.000000                                   25.000000
mean    93.736543                                   98.724820
std     18.976058                                    9.872888
min     64.832500                                   88.196833
25%     77.796500                                   90.640333
50%     93.306083                                   96.054333
75%    107.297500                                  104.249417
max    133.310750                                  125.776500

       PHARMACEUTICAL PRODUCTS   TRANSPORT  PURCHASE OF VEHICLES  \
count                25.000000   25.000000             25.000000
mean                 99.044630   95.898863            104.016753
std                  12.564488   21.613742              8.543567
min                  87.202417   66.765083             95.993750
25%                  88.889833   76.818667             99.380750
50%                  94.970250  100.000000            100.852667
75%                 106.303750  109.415500            104.491000
max                 132.280500  134.733250            125.671667

       MOTOR CYCLES AND BICYCLES  SECOND-HAND CARS  \
count                  25.000000         25.000000
mean                   97.162143        114.620593
std                    14.540145         16.017885
min                    80.755000         93.331667
25%                    83.176333        105.889833
50%                    96.879583        111.099000
75%                   103.733417        121.513000
max                   126.634750        146.897500

       OPERATION OF PERSONAL TRANSPORT EQUIPMENT  SPARE PARTS & ACCESSORIES  \
count                                  25.000000                  25.000000
mean                                   96.795617                  98.036443
std                                    23.046857                  15.380219
min                                    62.125167                  78.448083
25%                                    78.324750                  85.221083
50%                                   100.022417                  98.962333
75%                                   110.741500                 106.217083
max                                   137.061750                 132.070500

       FUELS & LUBRICANTS  MAINTENANCE & REPAIRS  \
count           25.000000              25.000000
mean           101.201243              91.915950
std             23.345308              24.029515
min             65.684667              51.165583
25%             82.433667              74.579083
50%            103.574250              94.116167
75%            118.098833             107.476583
max            150.917500             140.942000

       OTHER SERVICES IN RESPECT OF PERSONAL TRANSPORT EQ  TRANSPORT SERVICES  \
count                                          25.000000            25.000000
mean                                           98.695700            87.999477
std                                            25.500180            34.674141
min                                            61.048167            43.119417
25%                                            80.557333            55.180750
50%                                            95.344500            87.976917
75%                                           116.154250           112.768750
max                                           153.850750           153.183250

       PASSENGER TRANSPORT BY RAILWAY  PASSENGER TRANSPORT BY ROAD  \
count                       25.000000                    25.000000
mean                        88.392497                    96.507163
std                         24.944988                    28.982653
min                         53.309750                    56.509500
25%                         64.852333                    73.023333
50%                         91.071750                    94.152083
75%                        105.964667                   115.716417
max                        133.943500                   157.657250

       COMMUNICATION  POSTAL SERVICES  \
count      25.000000        25.000000
mean       99.076668        82.519053
std        13.921220        35.403485
min        82.446250        39.467333
25%        88.676750        47.953000
50%        94.773583        84.247333
75%       105.652833       105.976750
max       132.531125       157.166250

       TELEPHONE AND TELEFAX EQUIPMENT AND SERVICES  RECREATION & CULTURE  \
count                                     25.000000             25.000000
mean                                     100.424237            103.462945
std                                       12.650044              8.943277
min                                       84.135250             95.298583
25%                                       91.954000             98.381417
50%                                       97.619917            100.000000
75%                                      105.623000            105.609000
max                                      131.254250            129.425375


In [12]:
cpih = df[['Year', 'CPIH ALL ITEMS']]
cpih.tail()

    Year  CPIH ALL ITEMS
20  2020      108.883583
21  2021      111.614417
22  2022      120.457667
23  2023      128.640167
24  2024      132.095250

In [13]:
# dropping the 2024 data
cpih = cpih.drop(index=24)
cpih.tail()

    Year  CPIH ALL ITEMS
19  2019      107.803417
20  2020      108.883583
21  2021      111.614417
22  2022      120.457667
23  2023      128.640167

## Reading the GDP data

In [14]:

gdp=pd.read_csv('data/alldata.csv')
gdp.head(11)

,Title,Gross Domestic Product: chained volume measures: Seasonally adjusted £m
0,CDID,ABMI
1,Source dataset ID,UKEA
2,PreUnit,£
3,Unit,m
4,Release date,30-09-24
5,Next release,23-Dec-24
6,Important notes,NaN
7,1948,422621
8,1949,436620
9,1950,451212
10,1951,467977

In [15]:
# dropping the first 8 rows of the dataset (not required)
gdp = gdp.drop(gdp.index[:7])

gdp.rename(columns={'Title':'Year','Gross Domestic Product: chained volume measures: Seasonally adjusted £m' : 'GDP £m'},inplace=True)
# after dropping the rows, resetting the index
gdp=gdp[gdp['Year']>'1999'].reset_index(drop=True)
# gdp = gdp.reset_index(drop=True)
gdp

    Year   GDP £m
0   2000  1796500
1   2001  1842720
2   2002  1875809
3   2003  1934941
4   2004  1982500
5   2005  2036675
6   2006  2085162
7   2007  2139895
8   2008  2134571
9   2009  2035942
10  2010  2081411
11  2011  2105105
12  2012  2136871
13  2013  2175333
14  2014  2244827
15  2015  2294727
16  2016  2338825
17  2017  2400956
18  2018  2434694
19  2019  2474245
20  2020  2219474
21  2021  2409815
22  2022  2526428
23  2023  2535017

## Government Spending

In [16]:
govern_spend=pd.read_excel('data/UK government spending over time.xlsx')

# missingvalue
feature_na=[feature for feature in govern_spend.columns if govern_spend[feature].isnull().sum()>1]
print(feature_na)

for feature in feature_na:
    print(feature,np.round(govern_spend[feature].isnull().mean(),4),'% of missing value')

govern_spend.isnull().sum()

['Total managed expenditure with respect to GDP', 'March 2023 forecast']
Total managed expenditure with respect to GDP 0.0312 % of missing value
March 2023 forecast 0.9609 % of missing value

Category                                           0
Total managed expenditure with respect to GDP      4
March 2023 forecast                              123
dtype: int64

__Dropping the unrequired column__

In [17]:
# dropping the forecast column
govern_spend=govern_spend.drop(['March 2023 forecast'],axis=1)

# Extract the year from the 'Category' column
govern_spend['Year'] = govern_spend['Category'].str.extract(r'(\d{4})')[0]

# # Optionally, drop the original 'Category' column
govern_spend.drop(columns=['Category'], inplace=True)


# Print the updated DataFrame
print(govern_spend)

     Total managed expenditure with respect to GDP  Year
0                                             14.4  1900
1                                             15.5  1901
2                                             14.9  1902
3                                             13.8  1903
4                                             13.2  1904
..                                             ...   ...
123                                           45.0  2023
124                                            NaN  2024
125                                            NaN  2025
126                                            NaN  2026
127                                            NaN  2027

[128 rows x 2 columns]

In [18]:
govern_spend.columns

Index(['Total managed expenditure with respect to GDP', 'Year'], dtype='object')

In [19]:

# missingvalue
feature_na=[feature for feature in govern_spend.columns if govern_spend[feature].isnull().sum()>1]
print(feature_na)

for feature in feature_na:
    print(feature,np.round(govern_spend[feature].isnull().mean(),4),'% of missing value')

govern_spend.isnull().sum()
govern_spend=govern_spend.dropna(axis=0)

['Total managed expenditure with respect to GDP']
Total managed expenditure with respect to GDP 0.0312 % of missing value

In [20]:
govern_spend.head(104)

     Total managed expenditure with respect to GDP  Year
0                                             14.4  1900
1                                             15.5  1901
2                                             14.9  1902
3                                             13.8  1903
4                                             13.2  1904
..                                             ...   ...
99                                            34.8  1999
100                                           35.1  2000
101                                           36.3  2001
102                                           37.6  2002
103                                           38.9  2003

[104 rows x 2 columns]

In [21]:
govern_spend=govern_spend.drop(govern_spend.index[:100])
govern_spend.head()

     Total managed expenditure with respect to GDP  Year
100                                           35.1  2000
101                                           36.3  2001
102                                           37.6  2002
103                                           38.9  2003
104                                           40.0  2004

In [22]:
govern_spend.tail

<bound method NDFrame.tail of      Total managed expenditure with respect to GDP  Year
100                                           35.1  2000
101                                           36.3  2001
102                                           37.6  2002
103                                           38.9  2003
104                                           40.0  2004
105                                           39.9  2005
106                                           39.9  2006
107                                           40.2  2007
108                                           43.5  2008
109                                           46.3  2009
110                                           45.7  2010
111                                           44.6  2011
112                                           44.0  2012
113                                           42.5  2013
114                                           42.0  2014
115                                           41.1  2015
116                                           40.2  2016
117                                           40.0  2017
118                                           39.4  2018
119                                           39.5  2019
120                                           53.1  2020
121                                           44.5  2021
122                                           45.7  2022
123                                           45.0  2023>

## Reading Household Consumption

In [23]:
household_consump=pd.read_csv('data/household consumption.csv')
household_consump.head(10)

,Title,Household final consumption expenditure :National concept CVM SA - £m
0,CDID,ABJR
1,Source dataset ID,PN2
2,PreUnit,£
3,Unit,m
4,Release date,15-08-24
5,Next release,30-Sep-24
6,Important notes,NaN
7,1948,229078
8,1949,233102
9,1950,239639

In [24]:
# dropping the first 6 rows irrelevant of the dataset
household_consump=household_consump.drop(household_consump.index[:7])
# filtering from the year after 1999
household_consump=household_consump[household_consump['Title']>'1999'].reset_index(drop=True)
# # renaming the title column to year
household_consump.rename(columns={'Title':'Year'},inplace=True)
household_consump

    Year Household final consumption expenditure :National concept CVM SA - £m
0   2000                                             971050
1   2001                                            1002536
2   2002                                            1028983
3   2003                                            1063424
4   2004                                            1092834
5   2005                                            1123830
6   2006                                            1133245
7   2007                                            1171806
8   2008                                            1162090
9   2009                                            1124339
10  2010                                            1148808
11  2011                                            1144605
12  2012                                            1164814
13  2013                                            1197761
14  2014                                            1233950
15  2015                                            1269559
16  2016                                            1318358
17  2017                                            1341219
18  2018                                            1363436
19  2019                                            1378649
20  2020                                            1199896
21  2021                                            1289290
22  2022                                            1350539
23  2023                                            1353287

## Reading Bank Rate file

In [25]:
bankrate=pd.read_csv('data/Bank Rate.csv')
bankrate.rename(columns={'Rate':'Bank Rate'},inplace=True)
bankrate.head(),bankrate.tail()

(   Year  Bank Rate
 0  2000       6.00
 1  2001       4.00
 2  2002       4.00
 3  2003       3.75
 4  2004       4.75,
     Year  Bank Rate
 19  2019       0.25
 20  2020       0.10
 21  2021       0.25
 22  2022       3.50
 23  2023       5.25)

## Reading Fuel Energy file

In [26]:
fuel=pd.read_excel('data/energy/fuel.xlsx')
fuel.head(20)

        Date   Motor fuels %
0  2012-10-01            2.4
1  2012-11-01            1.0
2  2012-12-01           -0.2
3  2013-01-01           -0.8
4  2013-02-01            0.8
5  2013-03-01            0.1
6  2013-04-01           -3.7
7  2013-05-01           -2.9
8  2013-06-01            1.0
9  2013-07-01            2.4
10 2013-08-01            1.3
11 2013-09-01           -1.6
12 2013-10-01           -4.2
13 2013-11-01           -3.6
14 2013-12-01           -1.4
15 2014-01-01           -1.8
16 2014-02-01           -5.1
17 2014-03-01           -6.6
18 2014-04-01           -5.0
19 2014-05-01           -2.5

In [27]:
fuel=pd.read_csv('data/energy/fuel rpi.csv')
fuel.head(10)

,Title,RPI: Percentage change over 12 months - Petrol and Oil incl Fuel Oil
0,CDID,DOGQ
1,Source dataset ID,MM23
2,PreUnit,NaN
3,Unit,%
4,Release date,16-10-24
5,Next release,20-Nov-24
6,Important notes,NaN
7,1988,-1.7
8,1989,7.2
9,1990,12.7

In [28]:
# dropping the unnecesary first 7 rows
fuel=fuel.drop(fuel.index[:7])
# renaming the title column to year
fuel.rename(columns={'Title':'Year'},inplace=True)
# resetting the index
fuel=fuel.reset_index(drop=True)
fuel.head()
# filtering from the year after 1999
fuel=fuel[fuel['Year']>'1999'].reset_index(drop=True)
fuel.head(12)

    Year RPI: Percentage change over 12 months - Petrol and Oil incl Fuel Oil
0   2000                                                 14
1   2001                                                 -5
2   2002                                               -3.2
3   2003                                                  4
4   2004                                                  6
5   2005                                                9.8
6   2006                                                  6
7   2007                                                2.5
8   2008                                               16.7
9   2009                                               -8.8
10  2010                                               17.1
11  2011                                               15.3

## Reading the gas Energy file

In [29]:
gas=pd.read_excel('data/energy/gas.xlsx')
gas.head(10)

       Date   Gas     Year     Gas %
0 2012-10-01  -1.0  2012.0  1.366667
1 2012-11-01  -0.1  2013.0  7.683333
2 2012-12-01   5.2  2014.0  4.783333
3 2013-01-01   5.2  2015.0 -4.508333
4 2013-02-01   7.2  2016.0 -5.858333
5 2013-03-01   7.6  2017.0 -1.091667
6 2013-04-01   8.3  2018.0  3.758333
7 2013-05-01   8.3  2019.0 -0.308333
8 2013-06-01   8.3  2020.0 -9.916667
9 2013-07-01   8.3  2021.0  1.150000

In [30]:
gas.columns

Index(['Date ', 'Gas ', 'Year', 'Gas %'], dtype='object')

In [31]:
# dropping columns
gas=gas.drop(columns=['Date ','Gas '])
gas.dropna()

      Year      Gas %
0   2012.0   1.366667
1   2013.0   7.683333
2   2014.0   4.783333
3   2015.0  -4.508333
4   2016.0  -5.858333
5   2017.0  -1.091667
6   2018.0   3.758333
7   2019.0  -0.308333
8   2020.0  -9.916667
9   2021.0   1.150000
10  2022.0  87.100000
11  2023.0  34.075000

In [32]:
gas=pd.read_csv('data/energy/gas rpi.csv')
gas.head(10)

               Title RPI:Percentage change over 12 months - Gas
0               CDID                                       CZDA
1  Source dataset ID                                       MM23
2            PreUnit                                        NaN
3               Unit                                          %
4       Release date                                   16-10-24
5       Next release                                  20-Nov-24
6    Important notes                                        NaN
7               1988                                        0.7
8               1989                                        4.2
9               1990                                        6.9

In [33]:
# dropping the unnecesary first 7 rows
gas=gas.drop(gas.index[:7])
# renaming the title column to year
gas.rename(columns={'Title':'Year'},inplace=True)
# resetting the index
gas=gas.reset_index(drop=True)
gas.head()
# filtering from the year after 1999
gas=gas[gas['Year']>'1999'].reset_index(drop=True)
gas.head(12)

    Year RPI:Percentage change over 12 months - Gas
0   2000                                       -2.5
1   2001                                        2.7
2   2002                                        6.3
3   2003                                        1.8
4   2004                                        7.3
5   2005                                       14.8
6   2006                                       31.9
7   2007                                        7.7
8   2008                                       19.8
9   2009                                       13.7
10  2010                                       -5.9
11  2011                                       10.6

## Reading Trade Data file

In [34]:
trade_data_export=pd.read_excel('data/trade export import.xlsx')
trade_data_export.head()

,"1. Annual Exports: UK trade in goods annual exports to all countries, current prices, seasonally adjusted, [note 1]",Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,NaN,NaN,NaN
1,Country Code,B5,D5,W1
2,Country Name,Total EU27 [note 2],Total Non EU [note 4],Total
3,2000,110685,76139,186824
4,2001,114783,75899,190682

In [35]:
# renaming columns
trade_data_export.rename(columns={'1. Annual Exports: UK trade in goods annual exports to all countries, current prices, seasonally adjusted, [note 1]':'Year','Unnamed: 1':'Total EU27','Unnamed: 2':'Total Non EU','Unnamed: 3':'Total Export'},inplace=True)

# dropping null values for the rows
trade_data_export.dropna(axis=0)

# dropping first 4 rows
trade_data_export=trade_data_export.drop(trade_data_export.index[:3])
trade_data_export

    Year Total EU27 Total Non EU Total Export
3   2000     110685        76139       186824
4   2001     114783        75899       190682
5   2002     115045        72414       187459
6   2003     111256        76627       187883
7   2004     111972        79090       191062
8   2005     121761        90733       212494
9   2006     154209        92209       246418
10  2007     128765        94060       222825
11  2008     142261       110332       252593
12  2009     125893       102058       227951
13  2010     143195       122701       265896
14  2011     161363       141206       302569
15  2012     151465       146966       298431
16  2013     151491       148239       299730
17  2014     147448       141725       289173
18  2015     133380       147524       280904
19  2016     143736       155662       299398
20  2017     165227       174698       339925
21  2018     174786       179218       354004
22  2019     172176       196027       368203
23  2020     148157       165593       313750
24  2021     158352       173783       332135
25  2022     207052       227071       434123
26  2023     186363       207153       393516

In [36]:
# reading trade import data located in 2nd sheet
trade_data_import=pd.read_excel('data/trade export import.xlsx',sheet_name='Sheet2')
# renaming columns
trade_data_import.rename(columns={'2. Annual Imports: UK trade in goods annual imports from all countries, current prices, seasonally adjusted, [note 1]':'Year','Unnamed: 1':'Total EU27','Unnamed: 2':'Total Non EU','Unnamed: 3':'Total Import'},inplace=True)

# dropping null values for the rows
trade_data_import.dropna(axis=0)

# dropping first 4 rows
trade_data_import=trade_data_import.drop(trade_data_import.index[:3])
trade_data_import

    Year Total EU27 Total Non EU Total Import
3   2000     118975       107664       226639
4   2001     131885       107429       239314
5   2002     141776       100230       242006
6   2003     143112       102066       245178
7   2004     147523       110890       258413
8   2005     162031       124508       286539
9   2006     188480       140199       328679
10  2007     173818       142573       316391
11  2008     185623       163008       348631
12  2009     167776       149431       317207
13  2010     188295       177005       365300
14  2011     205580       201004       406584
15  2012     209709       201325       411034
16  2013     219631       205062       424693
17  2014     222717       197578       420295
18  2015     220020       186202       406222
19  2016     238088       200641       438729
20  2017     258343       221404       479747
21  2018     267893       227401       495294
22  2019     270116       243084       513200
23  2020     233092       208663       441755
24  2021     237423       256917       494340
25  2022     306646       334013       640659
26  2023     318362       262831       581193

## Business Confidence and Consumer Sentiment

In [37]:
business_invest=pd.read_excel('data/business investment.xlsx')
business_invest.head(12)

# dropping the first 3 rows from the dataframe
business_invest=business_invest.drop(business_invest.index[:3])
business_invest
business_invest.rename(columns={'Unnamed: 1':'Gross Fixed Capital Formation','Unnamed: 2':'Business Investment'},inplace=True)
business_invest

,Figure 1: Business investment has increased at a greater rate than gross fixed capital formation (GFCF) since 2022,Gross Fixed Capital Formation,Business Investment
3,Q1 2000,67,73
4,Q2 2000,70,77
5,Q3 2000,66,72
6,Q4 2000,68,75
7,Q1 2001,68,74
...,...,...,...
98,Q4 2023,99,102
99,Q1 2024,100,103
100,Q2 2024,101,104
101,NaN,NaN,NaN
102,Source: Business Investment in the UK from the...,NaN,NaN

In [38]:
# Extract year from the 'Quarter' column
business_invest['Figure 1: Business investment has increased at a greater rate than gross fixed capital formation (GFCF) since 2022'] = business_invest['Figure 1: Business investment has increased at a greater rate than gross fixed capital formation (GFCF) since 2022'].str.extract(r'(\d{4})')[0]

# calculating the annual average
business_invest = business_invest.groupby('Figure 1: Business investment has increased at a greater rate than gross fixed capital formation (GFCF) since 2022').agg({
    'Gross Fixed Capital Formation': 'mean',
    'Business Investment': 'mean'
}).reset_index()

# Rename the columns for clarity
business_invest.columns = ['Year', 'Average GFCF', 'Average Business Investment']

# Print the results
print(business_invest)

    Year Average GFCF Average Business Investment
0   2000        67.75                       74.25
1   2001         69.0                        74.0
2   2002         70.5                       72.25
3   2003        71.75                        71.5
4   2004         74.0                        69.0
5   2005         77.0                        74.5
6   2006        79.25                       78.25
7   2007         82.5                        85.0
8   2008         80.0                        82.0
9   2009        70.25                       68.25
10  2010        73.25                        71.0
11  2011         73.5                        75.5
12  2012        74.75                        81.0
13  2013        77.25                       83.75
14  2014        82.75                       88.25
15  2015         88.5                        96.5
16  2016         93.0                       103.0
17  2017        96.25                      102.75
18  2018         96.0                       101.0
19  2019        97.75                      103.25
20  2020        88.25                       92.75
21  2021        95.25                        94.5
22  2022        99.75                       100.0
23  2023        100.0                      102.75
24  2024        100.5                       103.5

In [39]:
# dropping 2024 data
business_invest = business_invest.drop(index=24)
business_invest.tail()

    Year Average GFCF Average Business Investment
19  2019        97.75                      103.25
20  2020        88.25                       92.75
21  2021        95.25                        94.5
22  2022        99.75                       100.0
23  2023        100.0                      102.75

## Reading Population Growth and Labour Market Participation

In [40]:
population_growth=pd.read_csv('data/population growth.csv')


population_growth.head(10)

               Title        United Kingdom population mid-year estimate
0               CDID                                              UKPOP
1  Source dataset ID                                                pop
2            PreUnit                                                NaN
3               Unit                                                NaN
4       Release date                                         08-10-2024
5       Next release                                    To be announced
6    Important notes  Mid-year population estimates relate to the us...
7               1971                                           55928000
8               1972                                           56096700
9               1973                                           56222900

In [41]:
# removing first 7 rows
population_growth=population_growth.drop(population_growth.index[:7])
# considering years after 1999
population_growth=population_growth[population_growth['Title']>'1999']
# renaming column
population_growth.rename(columns={'Title':'Year'},inplace=True)
population_growth

    Year United Kingdom population mid-year estimate
36  2000                                    58886100
37  2001                                    59113000
38  2002                                    59365700
39  2003                                    59636700
40  2004                                    59950400
41  2005                                    60413300
42  2006                                    60827100
43  2007                                    61319100
44  2008                                    61823800
45  2009                                    62260500
46  2010                                    62759500
47  2011                                    63285100
48  2012                                    63710800
49  2013                                    64138700
50  2014                                    64619500
51  2015                                    65088100
52  2016                                    65607100
53  2017                                    65966000
54  2018                                    66288900
55  2019                                    66630700
56  2020                                    66744100
57  2021                                    66983500
58  2022                                    67602800
59  2023                                    68265200

In [42]:
unemployment_rate=pd.read_csv('data/unemployment rate.csv')
unemployment_rate=unemployment_rate.drop(unemployment_rate.index[:7])
# considering years after 1999
unemployment_rate=unemployment_rate[unemployment_rate['Title']>'1999']
# renaming column
unemployment_rate.rename(columns={'Title':'Year'},inplace=True)
unemployment_rate.reset_index(drop=True)

    Year Unemployment rate (aged 16 and over, seasonally adjusted): %
0   2000                                                5.4
1   2001                                                5.1
2   2002                                                5.2
3   2003                                                  5
4   2004                                                4.8
5   2005                                                4.8
6   2006                                                5.4
7   2007                                                5.3
8   2008                                                5.7
9   2009                                                7.6
10  2010                                                7.9
11  2011                                                8.1
12  2012                                                  8
13  2013                                                7.6
14  2014                                                6.2
15  2015                                                5.4
16  2016                                                4.9
17  2017                                                4.4
18  2018                                                4.2
19  2019                                                3.9
20  2020                                                4.7
21  2021                                                4.6
22  2022                                                3.9
23  2023                                                  4

## Combining all the datasetes into single dataframe

In [43]:
# df = inflation_df.merge(cpih, on='Year')
# df = df.merge(gdp, on='Year')

In [44]:
# inflation['Year'] = inflation['Year'].astype(int)
cpih['Year'] = cpih['Year'].astype(int)
gdp['Year'] = gdp['Year'].astype(int)
govern_spend['Year'] = govern_spend['Year'].astype(int)
household_consump['Year'] = household_consump['Year'].astype(int)
bankrate['Year'] = bankrate['Year'].astype(int)
fuel['Year'] = fuel['Year'].astype(int)
gas['Year'] = gas['Year'].astype(int)
trade_data_export['Year'] = trade_data_export['Year'].astype(int)
trade_data_import['Year'] = trade_data_import['Year'].astype(int)
business_invest['Year'] = business_invest['Year'].astype(int)
unemployment_rate['Year']=unemployment_rate['Year'].astype(int)
population_growth['Year'] = population_growth['Year'].astype(int)

In [45]:
# print(inflation['Year'].dtype)
print(cpih['Year'].dtype)
print(gdp['Year'].dtype)
print(govern_spend['Year'].dtype)
print(household_consump['Year'].dtype)
print(bankrate['Year'].dtype)
print(fuel['Year'].dtype)
print(gas['Year'].dtype)
print(trade_data_export['Year'].dtype)
print(trade_data_import['Year'].dtype)
print(business_invest['Year'].dtype)
print(unemployment_rate['Year'].dtype)
print(population_growth['Year'].dtype)

int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32

In [46]:
# Start by merging a couple, then add others progressively
# all_df = inflation.merge(cpih, on='Year')
# all_df = all_df.merge(gdp, on='Year')
all_df = cpih.merge(population_growth,on='Year')
all_df = all_df.merge(govern_spend, on='Year')
all_df = all_df.merge(household_consump, on='Year')
all_df = all_df.merge(bankrate, on='Year')
all_df = all_df.merge(fuel, on='Year')
all_df = all_df.merge(gas, on='Year')
all_df = all_df.merge(trade_data_export, on='Year')
all_df = all_df.merge(trade_data_import,on='Year')
all_df = all_df.merge(business_invest, on='Year')
all_df = all_df.merge(unemployment_rate, on='Year')
all_df = all_df.merge(gdp, on='Year')



# Check the combined dataframe
print(all_df.head())

# Save the combined dataframe to CSV (optional)
all_df.to_csv('data/allCombined_data.csv', index=False)

   Year  CPIH ALL ITEMS United Kingdom population mid-year estimate  \
0  2000       73.406083                                    58886100
1  2001       74.555917                                    59113000
2  2002       75.671167                                    59365700
3  2003       76.715833                                    59636700
4  2004       77.779500                                    59950400

   Total managed expenditure with respect to GDP  \
0                                           35.1
1                                           36.3
2                                           37.6
3                                           38.9
4                                           40.0

  Household final consumption expenditure :National concept CVM SA - £m  \
0                                             971050
1                                            1002536
2                                            1028983
3                                            1063424
4                                            1092834

   Bank Rate  \
0       6.00
1       4.00
2       4.00
3       3.75
4       4.75

  RPI: Percentage change over 12 months - Petrol and Oil incl Fuel Oil  \
0                                                 14
1                                                 -5
2                                               -3.2
3                                                  4
4                                                  6

  RPI:Percentage change over 12 months - Gas Total EU27_x Total Non EU_x  \
0                                       -2.5       110685          76139
1                                        2.7       114783          75899
2                                        6.3       115045          72414
3                                        1.8       111256          76627
4                                        7.3       111972          79090

  Total Export Total EU27_y Total Non EU_y Total Import Average GFCF  \
0       186824       118975         107664       226639        67.75
1       190682       131885         107429       239314         69.0
2       187459       141776         100230       242006         70.5
3       187883       143112         102066       245178        71.75
4       191062       147523         110890       258413         74.0

  Average Business Investment  \
0                       74.25
1                        74.0
2                       72.25
3                        71.5
4                        69.0

  Unemployment rate (aged 16 and over, seasonally adjusted): %   GDP £m
0                                                5.4            1796500
1                                                5.1            1842720
2                                                5.2            1875809
3                                                  5            1934941
4                                                4.8            1982500

In [47]:
all_df

,Year,CPIH ALL ITEMS,United Kingdom population mid-year estimate,Total managed expenditure with respect to GDP,Household final consumption expenditure :National concept CVM SA - £m,Bank Rate,RPI: Percentage change over 12 months - Petrol and Oil incl Fuel Oil,RPI:Percentage change over 12 months - Gas,Total EU27_x,Total Non EU_x,Total Export,Total EU27_y,Total Non EU_y,Total Import,Average GFCF,Average Business Investment,"Unemployment rate (aged 16 and over, seasonally adjusted): %",GDP £m
0,2000,73.406083,58886100,35.1,971050,6.00,14,-2.5,110685,76139,186824,118975,107664,226639,67.75,74.25,5.4,1796500
1,2001,74.555917,59113000,36.3,1002536,4.00,-5,2.7,114783,75899,190682,131885,107429,239314,69.0,74.0,5.1,1842720
2,2002,75.671167,59365700,37.6,1028983,4.00,-3.2,6.3,115045,72414,187459,141776,100230,242006,70.5,72.25,5.2,1875809
3,2003,76.715833,59636700,38.9,1063424,3.75,4,1.8,111256,76627,187883,143112,102066,245178,71.75,71.5,5,1934941
4,2004,77.779500,59950400,40.0,1092834,4.75,6,7.3,111972,79090,191062,147523,110890,258413,74.0,69.0,4.8,1982500
5,2005,79.404250,60413300,39.9,1123830,4.50,9.8,14.8,121761,90733,212494,162031,124508,286539,77.0,74.5,4.8,2036675
6,2006,81.356333,60827100,39.9,1133245,5.00,6,31.9,154209,92209,246418,188480,140199,328679,79.25,78.25,5.4,2085162
7,2007,83.305000,61319100,40.2,1171806,5.50,2.5,7.7,128765,94060,222825,173818,142573,316391,82.5,85.0,5.3,2139895
8,2008,86.222583,61823800,43.5,1162090,2.00,16.7,19.8,142261,110332,252593,185623,163008,348631,80.0,82.0,5.7,2134571
9,2009,87.933417,62260500,46.3,1124339,0.50,-8.8,13.7,125893,102058,227951,167776,149431,317207,70.25,68.25,7.6,2035942
10,2010,90.123583,62759500,45.7,1148808,0.50,17.1,-5.9,143195,122701,265896,188295,177005,365300,73.25,71.0,7.9,2081411
11,2011,93.585417,63285100,44.6,1144605,0.50,15.3,10.6,161363,141206,302569,205580,201004,406584,73.5,75.5,8.1,2105105
12,2012,95.992417,63710800,44.0,1164814,0.50,2,10.6,151465,146966,298431,209709,201325,411034,74.75,81.0,8,2136871
13,2013,98.200083,64138700,42.5,1197761,0.50,-0.9,7.9,151491,148239,299730,219631,205062,424693,77.25,83.75,7.6,2175333
14,2014,99.625833,64619500,42.0,1233950,0.50,-5.2,4.7,147448,141725,289173,222717,197578,420295,82.75,88.25,6.2,2244827
15,2015,100.000083,65088100,41.1,1269559,0.50,-14.1,-4.6,133380,147524,280904,220020,186202,406222,88.5,96.5,5.4,2294727
16,2016,100.986167,65607100,40.2,1318358,0.25,-2.9,-6,143736,155662,299398,238088,200641,438729,93.0,103.0,4.9,2338825
17,2017,103.590333,65966000,40.0,1341219,0.50,9.3,-1.3,165227,174698,339925,258343,221404,479747,96.25,102.75,4.4,2400956
18,2018,105.955667,66288900,39.4,1363436,0.75,7.9,3.7,174786,179218,354004,267893,227401,495294,96.0,101.0,4.2,2434694
19,2019,107.803417,66630700,39.5,1378649,0.25,0.4,-0.6,172176,196027,368203,270116,243084,513200,97.75,103.25,3.9,2474245
20,2020,108.883583,66744100,53.1,1199896,0.10,-9.9,-10.2,148157,165593,313750,233092,208663,441755,88.25,92.75,4.7,2219474
21,2021,111.614417,66983500,44.5,1289290,0.25,14.5,0.1,158352,173783,332135,237423,256917,494340,95.25,94.5,4.6,2409815
22,2022,120.457667,67602800,45.7,1350539,3.50,30.1,92.6,207052,227071,434123,306646,334013,640659,99.75,100.0,3.9,2526428
23,2023,128.640167,68265200,45.0,1353287,5.25,-10.6,18.5,186363,207153,393516,318362,262831,581193,100.0,102.75,4,2535017